.animal__image {
    height: 244px;
}

.not-unique-modal {
    display: none;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    padding: 30px 50px;
    border: 3px solid black;
    border-radius: 5%;
    background-color: white;
    text-align: center;
}

.not-unique-modal-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 150px;
    height: 45px;
    font-size: 18px;
    border-color: grey;
    background-color: #4d4c49;
    color: white;
    border: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.not-unique-modal-btn:hover {
    background-color: #393737;
}

.not-unique-animal {
    font-weight: 900;
}

.show {
    display: flex;
}